force-app/main/default/flows/Create_Position_or_Candidate_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <choices>
        <name>Candidate</name>
        <choiceText>Candidate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Candidate</stringValue>
        </value>
    </choices>
    <choices>
        <name>NonTechnicalPosition</name>
        <choiceText>Non Technical Position</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non Technical Position</stringValue>
        </value>
    </choices>
    <choices>
        <name>Position</name>
        <choiceText>Position</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Position</stringValue>
        </value>
    </choices>
    <choices>
        <name>TechnicalPosition</name>
        <choiceText>Technical Position</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Technical Position</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Object</name>
        <label>Check Object</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isPosition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_an_Object</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Position</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Type_Selection</targetReference>
            </connector>
            <label>isPosition</label>
        </rules>
        <rules>
            <name>isCandidate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_an_Object</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Candidate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Candidate_Info</targetReference>
            </connector>
            <label>isCandidate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_RecordType</name>
        <label>Check RecordType</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Technical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Record_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TechnicalPosition</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type_Info</targetReference>
            </connector>
            <label>Technical</label>
        </rules>
        <rules>
            <name>Non_Technical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Record_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NonTechnicalPosition</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type_Info_of_Non_Tech</targetReference>
            </connector>
            <label>Non Technical</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>positionStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Position__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Create Position or Candidate Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Position or Candidate Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Candidate</name>
        <label>Create Candidate</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignRecordIdToReference>candidateId</assignRecordIdToReference>
        <connector>
            <targetReference>Candidate_Message</targetReference>
        </connector>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Candidate__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Non_Tech_Position</name>
        <label>Create Non Tech Position</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignRecordIdToReference>positionId</assignRecordIdToReference>
        <connector>
            <targetReference>Position_Message_for_Non_Tech</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Position_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_Info.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <object>Position__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Position</name>
        <label>Create Position</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignRecordIdToReference>positionId</assignRecordIdToReference>
        <connector>
            <targetReference>Position_Message</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Position_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_Info.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <object>Position__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Record_Type_Info</name>
        <label>Get Record Type Info</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Position_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical_Position</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Info_of_Non_Tech</name>
        <label>Get Record Type Info of Non Tech</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Position_Info_for_Non_Tech</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Non_Technical_Position</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Candidate_Info</name>
        <label>Candidate Info</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Candidate</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Candidate_Message</name>
        <label>Candidate Message</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Confirmation_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Congratulations!! &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Candidate record is created Successfully!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/{!candidateId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click here to redirect the record&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Object_Selection</name>
        <label>Object Selection</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Object</targetReference>
        </connector>
        <fields>
            <name>Select_an_Object</name>
            <choiceReferences>Position</choiceReferences>
            <choiceReferences>Candidate</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an Object</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Position_Info</name>
        <label>Position Info</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Position</targetReference>
        </connector>
        <fields>
            <name>Position_Name</name>
            <dataType>String</dataType>
            <fieldText>Position Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>positionStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Position_Info_for_Non_Tech</name>
        <label>Position Info for Non Tech</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Non_Tech_Position</targetReference>
        </connector>
        <fields>
            <name>Position_Name_for_Non_Tech</name>
            <dataType>String</dataType>
            <fieldText>Position Name for Non Tech</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Status_for_Non_Tech</name>
            <choiceReferences>positionStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status for Non Tech</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Position_Message</name>
        <label>Position Message</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirmation_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Congratulations!! &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Position record is created Successfully!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/{!positionId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px;&quot;&gt;Click here to redirect the record&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Position_Message_for_Non_Tech</name>
        <label>Position Message for Non Tech</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirmation_Message_For_Non_Tech</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Congratulations!! &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Position record is created Successfully!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/{!positionId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px;&quot;&gt;Click here to redirect the record&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_Type_Selection</name>
        <label>Record Type Selection</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_RecordType</targetReference>
        </connector>
        <fields>
            <name>Select_Record_Type</name>
            <choiceReferences>TechnicalPosition</choiceReferences>
            <choiceReferences>NonTechnicalPosition</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Record Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Object_Selection</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>candidateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>positionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
