force-app/main/default/flows/Create_n_opp_related_to_account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_opp_record_to_list</name>
        <label>Add opp record to list</label>
        <locationX>1141</locationX>
        <locationY>397</locationY>
        <assignmentItems>
            <assignToReference>oppList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oppRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_information_to_Record</name>
        <label>Assign Opp information to Record</label>
        <locationX>1342</locationX>
        <locationY>101</locationY>
        <assignmentItems>
            <assignToReference>oppRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppRecord.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Close_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppRecord.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_opp_record_to_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_counter</name>
        <label>check counter</label>
        <locationX>798</locationX>
        <locationY>292</locationY>
        <defaultConnector>
            <targetReference>Create_Opps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>require_more_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>How_many_opportunities_you_want_to_create</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Information</targetReference>
            </connector>
            <label>require more records?</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>stageName</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create n opp related to account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opps</name>
        <label>Create Opps</label>
        <locationX>808</locationX>
        <locationY>511</locationY>
        <inputReference>oppList</inputReference>
    </recordCreates>
    <screens>
        <name>Get_Qty</name>
        <label>Get Qty</label>
        <locationX>586</locationX>
        <locationY>182</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>check_counter</targetReference>
        </connector>
        <fields>
            <name>How_many_opportunities_you_want_to_create</name>
            <dataType>Number</dataType>
            <fieldText>How many opportunities you want to create</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Information</name>
        <label>Opportunity Information</label>
        <locationX>1056</locationX>
        <locationY>150</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Opp_information_to_Record</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Close_Date</name>
            <dataType>Date</dataType>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Stage_Name</name>
            <choiceReferences>stageName</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stage Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>460</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Qty</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>oppList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oppRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
