force-app/main/default/flows/Flight_Checkin.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Set_Check_in_Allowed</name>
        <label>Set Check-in Allowed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OutputMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Check in successful</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Check_in_not_open_yet</name>
        <label>Set Check in not open yet.</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OutputMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Check in not open yet.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Flight_Departed</name>
        <label>Set Flight Departed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OutputMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Flight Departed</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Output_Message</name>
        <label>Set Output Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OutputMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Booking not found.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Web_Check_in_Closed</name>
        <label>Set Web Check-in Closed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OutputMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web check-in closed. Please check-in at the airport.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Booking_Found</name>
        <label>Booking Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BookingFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Booking_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_in_Window_Status</targetReference>
            </connector>
            <label>Booking Found</label>
        </rules>
        <rules>
            <name>Booking_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Booking_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Output_Message</targetReference>
            </connector>
            <label>Booking Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_in_Window_Status</name>
        <label>Check-in Window Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_in_Not_Open_Yet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDateTime</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Get_Booking_Records.Flight__r.CheckIn_Window_Start__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Check_in_not_open_yet</targetReference>
            </connector>
            <label>Check-in Not Open Yet</label>
        </rules>
        <rules>
            <name>Web_Check_in_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDateTime</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Booking_Records.Flight__r.CheckIn_Window_End__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.CurrentDateTime</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Get_Booking_Records.Flight__r.Departure_Time__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Web_Check_in_Closed</targetReference>
            </connector>
            <label>Web Check-in Closed</label>
        </rules>
        <rules>
            <name>Flight_Departed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDateTime</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Booking_Records.Flight__r.Departure_Time__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Flight_Departed</targetReference>
            </connector>
            <label>Flight Departed</label>
        </rules>
        <rules>
            <name>Check_in_Allowed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDateTime</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Booking_Records.Flight__r.CheckIn_Window_Start__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.CurrentDateTime</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Booking_Records.Flight__r.CheckIn_Window_End__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Booking_Records</targetReference>
            </connector>
            <label>Check-in Allowed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Flight Checkin {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flight Checkin</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Booking_Records</name>
        <label>Get Booking Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Booking_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PNR__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BookingPNR</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Booking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Booking_Records</name>
        <label>Update Booking Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Check_in_Allowed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Booking_Records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Checkin_Status__c</field>
            <value>
                <stringValue>Checked-In</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meal_Preference__c</field>
            <value>
                <elementReference>MealPreference</elementReference>
            </value>
        </inputAssignments>
        <object>Booking__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Booking_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BookingPNR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MealPreference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OutputMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
