force-app/main/default/flows/Populate_Discount_on_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_10_Discount</name>
        <label>Add 10% Discount</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>DiscountPercent</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Discount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_5_Discount</name>
        <label>Add 5% Discount</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>DiscountPercent</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Discount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Discount_10</name>
        <label>Discount 10%</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>DiscountPercent</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Discount_Based_on_Opportunity_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Discount_5</name>
        <label>Discount 5%</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>DiscountPercent</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Discount_Based_on_Opportunity_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Discount</name>
        <label>Update Discount%</label>
        <locationX>314</locationX>
        <locationY>923</locationY>
        <assignmentItems>
            <assignToReference>$Record.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DiscountPercent</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Add_Discount_Based_on_Opportunity_Amount</name>
        <label>Add Discount Based on Opportunity Amount</label>
        <locationX>314</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Update_Discount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Amount_250_000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_10_Discount</targetReference>
            </connector>
            <label>Amount &gt;= 250,000</label>
        </rules>
        <rules>
            <name>Amount_100_000_and_250_000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_5_Discount</targetReference>
            </connector>
            <label>Amount &gt;=100,000 and &lt; 250,000</label>
        </rules>
    </decisions>
    <decisions>
        <name>Allocate_Discount_Based_on_Account_Tier</name>
        <label>Allocate Discount Based on Account Tier</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Add_Discount_Based_on_Opportunity_Amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Bronze</defaultConnectorLabel>
        <rules>
            <name>Gold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Discount_10</targetReference>
            </connector>
            <label>Gold</label>
        </rules>
        <rules>
            <name>Silver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Silver</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Discount_5</targetReference>
            </connector>
            <label>Silver</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Populate Discount on Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate Discount on Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Allocate_Discount_Based_on_Account_Tier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>DiscountPercent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
